<div class="navigation">
  <div class="user">
    <a routerLink="editProfile">
      <div>
        <span class="userIcon">
          <img src="./assets/user-avatar-filled.svg" alt="" />
        </span>
        <span class="userName"> 앱활동 </span>
      </div>
      <div>
        <span><i class="fa-solid fa-angle-right"></i></span>
      </div>
    </a>
  </div>
  <ul>
    <div class="subCatgory">
      <span>{{ "sidebar.subCatgory1" | translate }}</span>
    </div>
    <li>
      <a href="#">
        <span class="icon">
          <i class="fa-regular fa-heart"></i>
        </span>
        <span class="title"> {{ "sidebar.item1" | translate }} </span>
      </a>
    </li>
    <li>
      <a href="#">
        <span class="icon">
          <i class="fa-solid fa-pen"></i>
        </span>
        <span class="title">{{ "sidebar.item2" | translate }}</span>
      </a>
    </li>
    <div class="subCatgory">
      <span>{{ "sidebar.subCatgory2" | translate }}</span>
    </div>
    <li>
      <a href="#">
        <span class="icon">
          <i class="fa-regular fa-circle-question"></i>
        </span>
        <span class="title"> {{ "sidebar.item3" | translate }} </span>
      </a>
    </li>
    <li>
      <a href="#">
        <span class="icon">
          <i class="fa-regular fa-message-captions"></i>
        </span>
        <span class="title"> FAQ </span>
      </a>
    </li>
    <div class="subCatgory">
      <span>{{ "sidebar.subCatgory3" | translate }}</span>
    </div>
    <li>
      <a href="#">
        <span class="icon">
          <i class="fa-solid fa-bullhorn"></i>
        </span>
        <span class="title"> {{ "sidebar.item4" | translate }} </span>
      </a>
    </li>
    <li>
      <a href="#">
        <span class="icon">
          <i class="fa-solid fa-pen"></i>
        </span>
        <span class="title"> {{ "sidebar.item5" | translate }} </span>
      </a>
    </li>
    <li>
      <a href="#">
        <span class="icon">
          <i class="fa-solid fa-shield"></i>
        </span>
        <span class="title"> {{ "sidebar.item6" | translate }} </span>
      </a>
    </li>
    <li>
      <a href="#">
        <span class="icon">
          <i class="fa-solid fa-circle-info"></i>
        </span>
        <span class="title"> {{ "sidebar.item7" | translate }} </span>
      </a>
    </li>
  </ul>
</div>
