<div class="container bg-light">
  <div class="row py-2">
    <div class="col-6">
      <a routerLink="/main"><i class="fa-solid fa-angle-left"></i></a>
    </div>
    <div class="col-6 text-right">
      <i class="fa-solid fa-share-nodes mr-4"></i>
      <i class="fa-solid fa-ellipsis-vertical"></i>
    </div>
  </div>
  <div>
    <!-- <div> -->
    <div class="row py-3">
      <div class="col-12">
        <div
          id="carouselExampleControls"
          class="carousel slide"
          data-ride="carousel"
        >
          <div class="carousel-inner">
            <div
              class="carousel-item"
              *ngFor="
                let img of fetchedContents.images;
                let index = index;
                let isFirst = first
              "
              [ngClass]="{ active: isFirst }"
            >
              <img [src]="img" alt="" class="d-block w-100" />
            </div>
          </div>
          <a
            class="carousel-control-prev"
            href="#carouselExampleControls"
            role="button"
            data-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a
            class="carousel-control-next"
            href="#carouselExampleControls"
            role="button"
            data-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 profile">
        <img src="./assets/product_profile.png" alt="" class="mr-3" />
        <span class="font-weight-bold">
          {{ fetchedContents.author.name }}
        </span>
        <span class="font-weight-bold">{{ fetchedContents.category }} </span>
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col-6">
        <span class="mr-4">고양이</span
        ><span>{{ fetchedContents.postedAt | date: "yyyy.MM.dd" }}</span>
      </div>
      <div class="col-6 text-right">
        <button class="btn btn-round btn-purple">거래진행중</button>
      </div>
    </div>
    <div class="row py-3">
      <div class="col-12">
        <p class="font-weight-bold mb-0">
          {{ fetchedContents.text }}
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <span class="mr-4">{{ "product.Attention" | translate }}</span
        ><span>{{ "product.check" | translate }}</span>
      </div>
    </div>
  </div>
  <div class="suggessions">
    <div class="suggessionsBox">
      <div class="boxTitle">
        <p class="font-weight-bold">
          {{ "product.memberPost" | translate }} (12)
        </p>
      </div>
      <div class="viewMore">
        <p>{{ "product.ViewMore" | translate }}</p>
      </div>
    </div>
    <div class="suggessionCard">
      <div class="row">
        <div class="col-6" *ngFor="let post of fetchedMoreProducts">
          <img [src]="post.images[0] || DEFAULT_IMAGE" alt="" />
          <div class="desc">{{ post.text }}</div>
          <div class="price">{{ post.extra.price }}</div>
        </div>
      </div>
    </div>
  </div>
  <div class="suggessions">
    <div class="suggessionsBox">
      <div class="boxTitle">
        <p class="font-weight-bold">
          {{ "product.relatedPost" | translate }}(12)
        </p>
      </div>
    </div>
    <div class="suggessionCard">
      <div class="row">
        <div class="col-6" *ngFor="let post of fetchedRelatedProducts">
          <img [src]="post.images[0] || DEFAULT_IMAGE" alt="" />
          <div class="desc">{{ post.text }}</div>
          <div class="price">{{ post.extra.price }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
