@import "./src/styles.scss";

.dropdown-toggle {
  color: $primary;
}

.addbuttton {
  position: fixed;
  right: 10px;
  bottom: 75px;
}

app-sidebar.active {
  display: none;
  transition: 0.5s;
}

.titleConainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal-dialog {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10040;
  overflow: auto;
  overflow-y: auto;
}
