:host {
    ::ng-deep {
        .button-container {
            width: 30rem;
        }
    }

    .authentication-wrapper {
        width: 100%;
        height: 100vh;

        .authentication-inner {
            width: 100%;
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        img {
            width: 20rem;
            margin-bottom: 2rem;
        }
    }
}
