:host {
    .authentication-wrapper {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .card-body-container {
            display: flex;
            flex-direction: column;
            width: 50rem;
            height: 20rem;
            align-items: center;
            justify-content: center;
            border: 1px solid #e5e7eb;

            p {
                font-size: 1.3rem;
            }

            button {
                background: #5c30cc;
                padding: 0.7rem 2rem;
                border-radius: 2px;
                transition: 0.3s;
                font-size: 1.3rem;
                border: none;
            }
        }
    }
}
