<div class="bottomBar text-center">
    <div class="row">
        <div class="col-4">
            <div class="icon"><i class="fa-solid fa-house"></i></div>
            <div class="text">메인</div>
        </div>
        <div class="col-4">
            <div class="icon">  <i class="fa-solid fa-file-lines"></i></div>
            <div class="text">게시판</div>
        </div>
        <div class="col-4">
            <div class="icon"><i class="fa-solid fa-user"></i></div>
            <div class="text">마이페이지</div>
        </div>
    </div>
</div>
