<div class="dropdown">
  <a
    class="dropdown-toggle"
    id="dropdownMenuButton"
    data-toggle="dropdown"
    aria-expanded="false"
  >
    <i class="fa-solid fa-plus centerMid"></i
  ></a>

  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" routerLink="writedogpost"
      ><img src="./assets/dogIcon.svg" alt="" /> {{ listTags.list[0].name }}</a
    >
    <a class="dropdown-item" routerLink="writecatpost"
      ><img src="./assets/catIcon.svg" alt="" /> {{ listTags.list[1].name }}</a
    >
    <a class="dropdown-item" routerLink="writeetcpost"
      ><img src="./assets/etcIcon.svg" alt="" /> {{ listTags.list[2].name }}</a
    >
  </div>
</div>

<div class="bottomBar text-center">
  <div class="row">
    <div class="col-4">
      <a routerLink="main">
        <div class="icon"><i class="fa-solid fa-house"></i></div>
        <div class="text">메인</div>
      </a>
    </div>
    <div class="col-4">
      <a routerLink="community">
        <div class="icon"><i class="fa-solid fa-file-lines"></i></div>
        <div class="text">게시판</div>
      </a>
    </div>
    <div class="col-4">
      <a routerLink="mypage">
        <div class="icon"><i class="fa-solid fa-user"></i></div>
        <div class="text">마이페이지</div>
      </a>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
