<div class="container">
  <div class="row backward">
    <div class="col-12 p-3">
      <a routerLink="/main"
        ><i class="fa-solid fa-angle-left"></i>
        <span class="font-weight-bold ml-3">{{
          "writePost.titleForEtc" | translate
        }}</span></a
      >
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-12">
      <a data-toggle="modal" data-target="#myModal" class="selectTopic">
        <span>{{ "writePost.selectTopic" | translate }}</span>
        <i class="fa-solid fa-caret-down"></i>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <form #usersForm="ngForm">
        <div class="container">
          <div class="row">
            <div class="col-12 mt-3">
              <p>{{ "writePost.registerNote" | translate }}</p>
              <div class="row">
                <div class="col-2">
                  <label for="file-upload" class="custom-file-upload">
                    <div class="fileUpload">
                      <i class="fa-solid fa-plus"></i>
                    </div>
                    <input
                      type="file"
                      id="file-upload"
                      (change)="uploadImage($event)"
                      hidden
                      multiple
                    />
                  </label>
                </div>
                <div class="col-10">
                  <div
                    class="imgContainer"
                    [dragula]="'bag-one'"
                    [dragulaModel]="imagestoShow"
                  >
                    <div *ngFor="let url of imagestoShow">
                      <img [src]="url" alt="" draggable="true" />
                      <i
                        class="fa-solid fa-circle-xmark"
                        (click)="deleteImage(url)"
                      ></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 mt-3">
              <textarea
                class="form-control"
                name="message"
                id=""
                cols="20"
                rows="7"
                [(ngModel)]="message"
              ></textarea>
            </div>
          </div>
        </div>
        <div class="row">
          <button
            type="submit"
            class="btn btn-purple-filled text-center m-3"
            (click)="onproductUpload()"
          >
            {{ "writePost.registration" | translate }}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- modal  -->

<div
  class="modal fade"
  id="myModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="mySmallModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="titleConainer p-4">
        <h5 class="modal-title">{{ "writePost.selectPost" | translate }}</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body px-4 pb-4">
        <div class="pb-4">
          <div class="form-check" *ngFor="let category of listCategories.list">
            <input
              class="form-check-input"
              type="radio"
              name="exampleRadios"
              id="exampleRadios1"
              value="{{ category.code }}"
              [(ngModel)]="selectedTopic"
            />
            <label class="form-check-label mx-1" for="exampleRadios1">
              {{ category.nameEn }}
            </label>
          </div>
        </div>
        <button
          class="btn btn-purple-filled text-center"
          (click)="applyTopic()"
          data-dismiss="modal"
        >
          {{ "writePost.apply" | translate }}
        </button>
      </div>
    </div>
  </div>
</div>
