<app-navbar (onLanguagechange)="onLanguageValueReceived($event)"></app-navbar>

<div class="container">
  <div class="row product" *ngFor="let content of fetchedContents">
    <div class="col-12">
      <div class="row">
        <div class="col-4 centerMid">
          <a routerLink="/product/{{ content.id }}/{{ content.text }}">
            <img [src]="content.images[0] || DEFAULT_IMAGE" alt="" />
          </a>
        </div>
        <div class="col-8">
          <div class="row">
            <div class="col-5">
              <button class="btn btn-round btn-grey">
                {{ content.category }}
              </button>
            </div>
            <div class="col-7 text-right">
              <span class="p-1"><i class="fa-regular fa-heart"></i></span>
              <span class="p-1">{{ content.bookmarks || 0 }}</span>
              <span class="p-1"><i class="fa-regular fa-message"></i></span>
              <span class="p-1 pr-3">{{ content.comments || 0 }}</span>
            </div>
          </div>
          <div class="row">
            <div class="col-12 font-weight-bold">{{ content.text }}</div>
          </div>
          <div class="row">
            <div class="col-12">
              <span class="pr-2">{{ content.author.name }}</span>
              <span class="pr-2">|</span>
              <span class="pr-2">{{
                content.postedAt | date: "yyyy.MM.dd"
              }}</span>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <span class="font-weight-bold mr-4">TODO</span>
              <button class="btn btn-round btn-purple">TODO</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="row product" *ngFor="let item of items">
    <div class="col-12">
      <div class="row">
        <div class="col-4 centerMid">
          <a routerLink="../product"
            ><img src="./assets/product_profile.png" alt=""
          /></a>
        </div>
        <div class="col-8">
          <div class="row">
            <div class="col-5">
              <button class="btn btn-round btn-grey">자랑하기</button>
            </div>
            <div class="col-7 text-right">
              <span class="p-1"><i class="fa-regular fa-heart"></i></span>
              <span class="p-1">2</span>
              <span class="p-1"><i class="fa-regular fa-message"></i></span>
              <span class="p-1 pr-3">2</span>
            </div>
          </div>
          <div class="row">
            <div class="col-12 font-weight-bold">{{ item.name }}</div>
          </div>
          <div class="row">
            <div class="col-12">
              <span class="pr-2">컨댕이</span> <span class="pr-2">|</span>
              <span class="pr-2">{{ item.date }}</span>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <span class="font-weight-bold mr-4">{{ item.price }}</span>
              <button class="btn btn-round btn-purple">거래진행중</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  <!-- <div class="row product">
    <div class="col-12">
      <div class="row">
        <div class="col-4 centerMid">
          <img src="./assets/dog_profile.png" alt="" />
        </div>
        <div class="col-8">
          <div class="row">
            <div class="col-5">
              <button class="btn btn-round btn-grey">자랑하기</button>
            </div>
            <div class="col-7 text-right">
              <span class="p-1"><i class="fa-regular fa-heart"></i></span>
              <span class="p-1">2</span>
              <span class="p-1"><i class="fa-regular fa-message"></i></span>
              <span class="p-1 pr-3">2</span>
            </div>
          </div>
          <div class="row">
            <div class="col-12 font-weight-bold">캣타워 팔아요</div>
          </div>
          <div class="row">
            <div class="col-12">
              <span class="pr-2">컨댕이</span> <span class="pr-2">|</span>
              <span class="pr-2">2021.10.20</span>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <span class="font-weight-bold mr-4">80,000원</span>
              <button class="btn btn-round btn-purple">거래진행중</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->
</div>
<app-bottombar [language]="changesLanguage"></app-bottombar>
