:host {
    .layout-content {
        padding-left: 23rem;
        transition: 0.4s all;
    }

    .route-container {
        min-height: 100vh;
        padding: 7.4rem 4.8rem 4.8rem;
        background: #f9fafb;
    }
}
