@import "./src/styles.scss";

.selectTopic {
  @include flex;
  justify-content: space-between;
  text-decoration: none;
  color: $light;
}

.titleConainer {
  @include flex;
  justify-content: space-between;
}

.modal-dialog {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10040;
  overflow: auto;
  overflow-y: auto;
}

.fileUpload {
  width: 50px;
  height: 50px;
  border: 2px solid $light;
  border-radius: 10px;
  display: inline-block;
  @include flex;
  justify-content: center;
}

.imgContainer {
  @include flex;
  overflow-x: scroll;
  div {
    position: relative;
    margin: 10px;

    border-radius: 5px;
    &:selected {
      border: 1px solid $primary;
    }
    img {
      width: 60px;
      height: 60px;
    }
    i {
      position: absolute;
      top: -5px;
      right: -5px;
    }
  }
}
