@import 'src/styles';

.dropdown-toggle{
    color: $primary;
}

.addbuttton{
    position: fixed;
    right: 10px;
    bottom: 75px;
}

app-sidebar.active{
    display: none;
    transition: 0.5s;
}
