<div class="container">
  <div class="row backward">
    <div class="col-12 p-3">
      <a routerLink="/main"
        ><i class="fa-solid fa-angle-left"></i>
        <span class="font-weight-bold ml-3">강아지 게시글 작성</span></a
      >
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-12">
      <a data-toggle="modal" data-target="#myModal" class="selectTopic">
        <span>{{
          selectedTopic === "" ? "주제를 선택해주세요" : selectedValue
        }}</span>
        <i class="fa-solid fa-caret-down"></i>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <form #usersForm="ngForm" (ngSubmit)="getUserFormData(usersForm.value)">
        <div class="container">
          <div class="row">
            <div class="col-12 mt-3">
              <p>게시글의 이미지를 등록해주세요.</p>
              <label for="file-upload" class="custom-file-upload">
                <div class="fileUpload">
                  <i class="fa-solid fa-plus"></i>
                </div>
                <input
                  type="file"
                  id="file-upload"
                  hidden
                  (change)="uploadImage($event)"
                  accept="image/*"
                  multiple
                />
              </label>
              <div *ngFor="let image of imagestoShow">
                <img src="{{ image.localUrl }}" alt="" />
              </div>
            </div>
            <div class="col-12 mt-3">
              <textarea
                class="form-control"
                name=""
                id=""
                cols="20"
                rows="7"
                value=""
              ></textarea>
            </div>
          </div>
        </div>
        <div class="row">
          <button type="submit" class="btn btn-purple-filled text-center m-3">
            등록
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- modal  -->

<div
  class="modal fade"
  id="myModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="mySmallModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="titleConainer p-4">
        <h5 class="modal-title">게시글 주제선택</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body px-4 pb-4">
        <div class="pb-4">
          <div class="form-check" *ngFor="let category of listCategories.list">
            <input
              class="form-check-input"
              type="radio"
              name="exampleRadios"
              id="exampleRadios1"
              value="{{ category.code }}"
              [(ngModel)]="selectedTopic"
            />
            <label class="form-check-label mx-1" for="exampleRadios1">
              {{ category.nameEn }}
            </label>
          </div>
        </div>
        <button
          class="btn btn-purple-filled text-center"
          (click)="applyTopic()"
          data-dismiss="modal"
        >
          적용하기
        </button>
      </div>
    </div>
  </div>
</div>
